<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="UrlGenToken" value="http://172.102.180.200/jarvis_api/auth/generateTokenApp" />
    <add key="UrlDocuments" value="http://172.102.180.200/jarvis_api/statebots/stateByDocument" />
    <add key="UserName" value="userbotstate" />
    <add key="Password" value="E}qT34i;##3>8t)=W.lUp6F5" />
    <add key="rootblackList" value="C:\AllGithub\RPAUserAdminOJT\RPAUserAdminOJT\bin\Debug\BlackList\AcessDenied.txt" />
  </appSettings>
  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                 <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
            </dependentAssembly>
       </assemblyBinding>
  </runtime>
</configuration>